.container {
    display: flex;
    border:  1px solid black;
    max-width: 300px;
    margin-bottom: 20px;
}

.item {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;

    margin: 5px;
    text-align: center;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}